.App {
  margin: 20px;
}

.container {
  text-align: center;
  display: block;
  margin: 0 auto;
  max-width: 800px;
}

header {
  font-size: 28px;
}

footer {
  display: block;
  margin: 0px auto;
  text-align: center;
  font-weight: lighter;
}

a {
  color: purple;
}
