.App {
  text-align: center;
  margin: 20px;
  font-weight: bold;
  font-size: 30px;
}

footer {
  display: block;
  margin: 10px auto;
  text-align: center;
  font-size: 15px;
  font-weight: lighter;
}
