.App {
  text-align: center;
  margin: 20px;
  font-weight: bold;
  font-size: 30px;
}
.App-header {
  font-size: 40px;
}

footer {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
}
