.Results {
  text-align: left;
}

h2 {
  color: dimgray;
  font-style: italic;
}

section {
  background-color: white;
  border-radius: 6px;
  box-shadow: 1px 1px 5px rgba(88, 87, 87, 0.3);
  padding: 20px;
  margin: 15px;
}
